@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');


html, body {
	height:100%;
	background:#eeeeee;
}

/* montagebild */
.computers {
    width: 100%;
    margin-top: 6vw;
}

/* Allt mellan nav och footer*/
article {
  background: #888888;
}

/* Varje "sida" har en egen section */
section {
  padding: 10vw 0 5vw 0;
 /* margin-top: 0.5vw;*/
  height: auto;
}

/* About */
#about {
  background: #ffffff;
}

.portrait {
  max-height: 500px;
  border-bottom: 2px solid black;
}

.styling-row-about {
  padding: 5vw;
  border: 1px solid #c5c5c5;
}

/* Experience */
#experience {
  background:#eeeeee;
}

.styling-row-experience {
  padding: 5vw;
  border: 1px solid black;
}


/* Projects */
#projekt {
  background: #ffffff;
}

.card {
  border: 1px solid silver;
}

.card-title,h4 a {
  color: black;
}

#contact{
  background:#eeeeee;
}
  
@media all and (max-width:800px) {

  .computers {
    margin-top: 20vw;
  }

}

@media only screen and (max-width:542px) {

  .computers {
    margin-top: 25vw;
  }

  .portrait {
    border-bottom: 1px solid black;
    height: 300px;
    float: right;
  }

  .extra-margin {
    margin-top: 6vw;
  }

  .styling-row-experience {
    padding: 5vw;
    border: none
  }

  .styling-row-about {
    padding: 5vw;
    border: none;
  }

}

